#logAndRegisterDiv {
	border: solid red 1px;
	max-width: 600px;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	position: relative;
}

#changeLoginAndRegisterButton {
	position: absolute;
	top: 0;
	right: 0;
}